# <center>Article : [A Complete Date-Time Guide for Data Scientist in Python]()
# <center><span style='color:blue;background:yellow;font-size:50px'>Pandas </span></center>

In [316]:
import pandas as pd

## <span style='color:blue;background:yellow'>String to Timestamp

In [317]:
df = pd.read_csv('data/rugby_world_cup_2019.csv')
df.head()

,DATE,POOL,MATCH,MATCH.1,MATCH.2,MATCH.3,MATCH.4,KICK-OFFS,VENUE,LIVE BROADCASTS
0,Sept. 20 2019,A,Japan,30,–,10,Russia,19:45,Tokyo Stadium,"J-Sports, NTV, BS1"
1,Sept. 21 2019,D,Australia,39,–,21,Fiji,13:45,Sapporo Dome,"J-Sports, NTV, BS1"
2,Sept. 21 2019,C,France,23,–,21,Argentina,16:15,Tokyo Stadium,J-Sports
3,Sept. 21 2019,B,New Zealand,23,–,13,South Africa,18:45,International Stadium Yokohama,J-Sports
4,Sept. 22 2019,B,Italy,47,–,22,Namibia,14:15,Hanazono Rugby Stadium,J-Sports

In [318]:
df.DATE.dtype

dtype('O')

In [319]:
df.DATE = pd.to_datetime(df['DATE'] +' ' +df['KICK-OFFS'])

In [320]:
df.head()

,DATE,POOL,MATCH,MATCH.1,MATCH.2,MATCH.3,MATCH.4,KICK-OFFS,VENUE,LIVE BROADCASTS
0,2019-09-20 19:45:00,A,Japan,30,–,10,Russia,19:45,Tokyo Stadium,"J-Sports, NTV, BS1"
1,2019-09-21 13:45:00,D,Australia,39,–,21,Fiji,13:45,Sapporo Dome,"J-Sports, NTV, BS1"
2,2019-09-21 16:15:00,C,France,23,–,21,Argentina,16:15,Tokyo Stadium,J-Sports
3,2019-09-21 18:45:00,B,New Zealand,23,–,13,South Africa,18:45,International Stadium Yokohama,J-Sports
4,2019-09-22 14:15:00,B,Italy,47,–,22,Namibia,14:15,Hanazono Rugby Stadium,J-Sports

In [321]:
type(df.DATE[0])

pandas._libs.tslibs.timestamps.Timestamp

## <span style='color:blue;background:yellow'>Seconds and Nanoseconds to Timestamp

In [54]:
pd.to_datetime(1599996389, unit='s')

Timestamp('2020-09-13 11:26:29')

In [55]:
pd.to_datetime(1599996389, unit='ns')

Timestamp('1970-01-01 00:00:01.599996389')

## <span style='color:blue;background:yellow'> Get Year, Month, Day of Month, Day of Week, Hour, Mintues and Seconds </span>

In [136]:
df = pd.read_csv('data/rugby_world_cup_2019.csv')
df.DATE = pd.to_datetime(df['DATE'] +' ' +df['KICK-OFFS'])
df.head()

,DATE,POOL,MATCH,MATCH.1,MATCH.2,MATCH.3,MATCH.4,KICK-OFFS,VENUE,LIVE BROADCASTS
0,2019-09-20 19:45:00,A,Japan,30,–,10,Russia,19:45,Tokyo Stadium,"J-Sports, NTV, BS1"
1,2019-09-21 13:45:00,D,Australia,39,–,21,Fiji,13:45,Sapporo Dome,"J-Sports, NTV, BS1"
2,2019-09-21 16:15:00,C,France,23,–,21,Argentina,16:15,Tokyo Stadium,J-Sports
3,2019-09-21 18:45:00,B,New Zealand,23,–,13,South Africa,18:45,International Stadium Yokohama,J-Sports
4,2019-09-22 14:15:00,B,Italy,47,–,22,Namibia,14:15,Hanazono Rugby Stadium,J-Sports

In [160]:
print('Year :',df.DATE[0].year) # Get year
print('Month :',df.DATE[0].month) # Get month
print('Day of Month :',df.DATE[0].day) # Get day of month
print('Day of Week :',df.DATE[0].weekday()) # Get weekday 0-6 --> Monday to Sunday
print('Hour :',df.DATE[0].hour)  # Get hour 
print('Minutes :',df.DATE[0].minute) # Get minutes
print('Seconds :',df.DATE[0].second) # Get Seconds

Year : 2019
Month : 9
Day of Month : 20
Day of Week : 4
Hour : 19
Minutes : 45
Seconds : 0

## <span style='color:blue;background:yellow'> Changing Timestamp Formats  </span>

In [163]:
df.DATE[0].strftime('%d-%m-%Y') # Format --> dd-mm-yyyy

'20-09-2019'

In [164]:
df.DATE[0].strftime('%d-%b-%Y') # Format --> dd-mm-yyyy  > It returns name of month instead of month number

'20-Sep-2019'

In [168]:
df.DATE[0].strftime('%d-%b-%Y %H:%M:%S') # Format --> dd-mm-yyyy HH:MM:SS

'20-Sep-2019 19:45:00'

# <center><span style='color:blue;background:yellow;font-size:50px'>datetime</span></center>

## <span style='color:blue;background:yellow'> datetime </span>

In [245]:
from datetime import datetime, timedelta

In [246]:
datetime.today() # Get current time in current time zone

datetime.datetime(2019, 10, 9, 14, 51, 10, 400603)

In [247]:
datetime.now() # Get current time in current time zone

datetime.datetime(2019, 10, 9, 14, 51, 10, 457401)

In [248]:
datetime.utcnow() # Get current time in UTC time zone

datetime.datetime(2019, 10, 9, 5, 51, 10, 664766)

In [249]:
date = datetime(2019,10,4) # create a datetime object

In [250]:
date = datetime.now()

In [251]:
print('Year :',date.year) # Get year
print('Month :',date.month) # Get month
print('Day of Month :',date.day) # Get day of month
print('Day of Week :',date.weekday()) # Get weekday 0-6 --> Monday to Sunday
print('Hour :',date.hour)  # Get hour 
print('Minutes :',date.minute) # Get minutes
print('Seconds :',date.second) # Get Seconds

Year : 2019
Month : 10
Day of Month : 9
Day of Week : 2
Hour : 14
Minutes : 51
Seconds : 11

## <span style='color:blue;background:yellow'> timedelta </span>

In [252]:
date = datetime.now()

In [253]:
date - timedelta(days=10) # Subtract 10 days

datetime.datetime(2019, 9, 29, 14, 53, 3, 396341)

In [254]:
date - timedelta(weeks =1, days=2, hours=3, minutes=4) # Subtract 1 week , 2 days, 3 hours and 4 minutes

datetime.datetime(2019, 9, 30, 11, 49, 3, 396341)

In [255]:
date + timedelta(days=11)  # add 11 days

datetime.datetime(2019, 10, 20, 14, 53, 3, 396341)

## <span style='color:blue;background:yellow'> pytz </span>

In [293]:
import pytz

In [294]:
pytz.all_timezones[:5]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara']

In [295]:
tz = pytz.timezone('Asia/Tokyo') # define timezone 
datetime.now(tz=tz).strftime('%Y-%m-%d %H:%M:%S') # Get current date and time in Asia/Tokyo zone

'2019-10-09 15:29:44'

In [296]:
tz = pytz.timezone('Asia/Kolkata')
datetime.now(tz=tz).strftime('%Y-%m-%d %H:%M:%S')

'2019-10-09 11:59:45'

In [297]:
tz = pytz.timezone('Asia/Dubai')
datetime.now(tz=tz).strftime('%Y-%m-%d %H:%M:%S')

'2019-10-09 10:29:45'

In [298]:
tz = pytz.timezone('Asia/Dubai')
datetime(2019,10,9,10,34,3, tzinfo=tz)  # create a datetime object in Asia/Dubai time zone

datetime.datetime(2019, 10, 9, 10, 34, 3, tzinfo=<DstTzInfo 'Asia/Dubai' LMT+3:41:00 STD>)

## <span style='color:blue;background:yellow'> dateutil </span>

In [306]:
from dateutil.parser import parse
from dateutil.relativedelta import relativedelta

In [307]:
parse('2019 Oct 10') # string to datetime

datetime.datetime(2019, 10, 10, 0, 0)

In [308]:
date = datetime.now()

In [311]:
date

datetime.datetime(2019, 10, 9, 16, 19, 31, 8026)

In [314]:
 date - relativedelta(months=1) # Get exact 1 month back time

datetime.datetime(2019, 11, 9, 16, 19, 31, 8026)

In [315]:
date + relativedelta(months=1) # Get exact 1 month later time

datetime.datetime(2019, 11, 9, 16, 19, 31, 8026)